@font-face {
    font-family: 'posh';
    src: url('./fonts/Tangerine-Regular.ttf');
}
@font-face{
    font-family: 'playful';
    src: url('./fonts/Knewave-Regular.ttf');

}
body {
    color: white;
    text-align: center;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    gap: 12vh;
    flex-direction: column;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-image: url("./images/f2b617fdfb8e851.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; /* Keeps background fixed on scroll */
    text-shadow: 0.2rem 0.2rem 0.5rem black;
}
header {
    font-size: 2.5rem;
    font-family: 'posh';
}
h1 {
    margin-top: 5vh;
    text-decoration: underline;
    text-decoration-thickness: 4px;
}
a {
    color: black;
    text-shadow: none;
}
#mainContainer {
    position: relative;
    display: flex;
    justify-content: center;
}
#clickMe, #likeMe {
    position: absolute;
    font-family: 'playful';
    font-size: 1.7rem;
    transition: opacity 1s ease-out;
}
#clickMe {
    top: -3.8rem;
    left: -10.5rem;
}
#likeMe {
    bottom: -6.8rem;
    right: -5rem;
}
#arrow, #arrow2 {
    position: absolute;
    height: 8rem;
    width: 8rem;
    transition: opacity 1s ease-out;
}
#arrow {
    width: 8rem;
    top: -1rem;
    left: -8rem;
}
#arrow2 {
    bottom: -4rem;
    right: -2.5rem;
    transform: rotate(180deg);;
}
#theoHeadContainer, #emptyPaddingDiv{
    position: relative;
    display: flex;
    align-items: center;
}
#theoHeadContainer {
    z-index: 2;
}
#theoPictureButton {
    height: 10rem;
    width: 10rem;
    margin-right: -5rem;
    z-index: 2;
    transition: filter 0.1s ease-in-out, transform 0.1s ease-in-out;
    cursor: pointer;
}
#theoPictureButton:active {
    transform: scale(0.7); /* Shrinks the image on click */
    filter: saturate(0.5)
}
#theoPictureButton:hover {
    filter: saturate(1.5)
}
#quotesServed {
    position: absolute;
    font-size: 1rem;
    bottom: -2rem;
    width: 10rem;
}
#quoteContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    background-color: rgb(228, 216, 216);
    color: black;
    z-index: 1;
    margin: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 2rem;
    border: solid black 0.25rem;
    box-shadow: 0.2rem 0.2rem 0.5rem black;
    text-shadow: none;
}
#likeButton {
    height: 1.5rem;
    width: 1.5rem;
    transition: filter 0.1s ease-in-out, transform 0.1s ease-in-out;
    cursor: pointer;
    filter:invert(0.6);
}
.quoteLiked {
    filter:invert(0) !important;
}
#likeButton:hover {
    filter:invert(0);
}
#likeButton:active {
    transform: scale(0.7);
}
#likesOverlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0.8rem;
    right: 0.8rem;
}
#quoteReferenceContainer {
    z-index: 2;
    position: absolute;
    top: 1.4rem;
    font-size: 1rem;
    right: 7.4rem;
}
#emptyPaddingDiv {
    position: relative;
}
.speechMarks {
    font-size: 2rem;
}
#emptyDiv {
    height: 10rem;
    width: 10rem;
    margin-left: -5rem;
}
#quoteLikes {
    padding-right: 0.4rem;
    font-size: 1.5rem;
}
#metaContainer {
}
.hide {
    opacity: 0;
}

/* animations */

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-0.4rem); }
}

@keyframes grow {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.5); }
}
@keyframes grow2 {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(2); }
}
@keyframes grow3 {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(2.5); }
}

.bounce {
    animation: bounce 0.5s ease-in-out;
}
.grow {
    animation: grow 1s linear;
    color:  rgb(205, 127, 50); /* bronze */
}
.grow2 {
    animation: grow2 1s linear;
    color: silver;
}
.grow3 {
    animation: grow3 1s linear;
    color: gold;
}
/* mobile styling */
@media screen and (max-width: 768px) {
    html {
        font-size: 8px;
    }
    header {
        font-size: 6vw;
    }
    #quoteContainer {
        width: 60vw;
    }
    #clickMe {
        top: -9.5rem;
        left: 10.5rem;
        width: 10rem;
    }
    #arrow {
        top: -9rem;
        left: 3rem;
        transform: rotate(90deg);
        filter: invert(1);
    }
    #arrow2 {
        bottom: -7.5rem;
        right: 6.5rem;
        transform: rotate(270deg);
        filter: invert(1);
    }
    #likeMe {
        bottom: -8rem;
        right: 14rem;
        font-size: 1.7rem;
        width: 10rem;
    }
    #quotesServed, #quoteReferenceContainer {
        font-size: 1.2rem;
    }
    #quotesServed {
        bottom: -2.5rem;
    }
    #quoteReferenceContainer {
        bottom: -0.6rem;
    }
    body{
        background-image: url("./images/0d9a3e9958673e4.png");
        color: black;
        text-shadow: 0.2rem 0.2rem 0.5rem grey;
    }
}